









<div style="z-index:99;width:200px;">

<div class="panel panel-default" style="box-shadow: 0 10px 6px -6px #777;">
  <div class="panel-body skyBlue" >
   
                <p>
                       <span style="font:Centaur;color:darkgoldenrod">{{question}}</span>
                </p>
 
                <div style="margin-left:auto;margin-right:auto;position:relative;text-align:center">
    
                    <div  class="sheerButton deepGreen">
                        <a href="" ng-click="confirm()" >Yes
                            </a>
                    </div>
     
    
                    <div class="sheerButton deepGreen">
                        <a href=""  ng-click="cancel()" >No</a>
                    </div>

                </div>
  </div>
</div>






</div>