<!--the bootstrap way    style="background-image:url(../image/lightblue.jpg)"-->

<div class="col-xs-12 bluenav"  ng-controller="ToolbarController as navCtrl" >

<!--    <div class="row" style="min-height:90px;">-->

<!--layout for phones-->
      

        <div  style="float:left">
               <button style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8" ng-click="navCtrl.goMap()" title="Map View">
                <img src="/../image/globe.png"  class="image-responsive" style="max-height:40px" />
            </button>
        </div>
      <!--  <div class="col-sm-2 hidden-xs">
            map
        </div>-->

         <div style="float:left">
               <button  style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8" ng-click="navCtrl.goAlbum()" title="Photo Album"> 
                <img src="../image/sun.png"   style="max-height:40px"  />
            </button>
         </div>
      <!--   <div class="col-sm-2 hidden-xs">
           upload photo
        </div>-->
<!--    ng-click="navCtrl.goSiteList()"        -->       
        
     <div  style="float:left">
         <div class="btn-group">
                 <button   type="button"  class="dropdown-toggle"  data-toggle="dropdown" title="Site List"
                  style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8" >
                 <img src="../image/scroll.png"    style="max-height:40px"  />
              </button>
                        <ul class="dropdown-menu">
                              <li  ng-repeat="site in navCtrl.SiteList">
                                  <a href="" ng-click="navCtrl.selectSite($index)">{{site.Name}}</a></li>
                   
                         </ul>
             </div>
         </div>
         
           <!--   <button   type="button"  

                  style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8"  title="Site List">
                 <img src="../image/scroll.png"    style="max-height:40px"  />
              </button>
          <div class="btn-group">
           <button  class="dropdown-toggle" 
                  style="position:absolute;left:-30px;z-index:2;background-color:transparent;border:none;padding:0px;margin:0px;"
                data-toggle="dropdown" title="Site List">
                 <i class="glyphicon glyphicon-chevron-down"></i>
              </button>
                              
            </div> 
</div>
               
               
               -->
            

    
    
      <!--   <div class="col-sm-2 hidden-xs">
          sites
        </div>-->

         <div  style="float:left">
                 <button  style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8" ng-click="navCtrl.goJournal()" title="Journal">
                <img src="../image/stack.png"   style="max-height:40px"  />
            </button>
         </div>
     <!--    <div class="col-sm-2 hidden-xs">
            journal
        </div>-->
           <div style="float:left">
                 <button  style="border-radius:40px;margin:4px 0px;background-color:#3CBBC8" ng-click="navCtrl.goSite()"  title="Site Information">
                <img src="../image/largepalm.png"    style="max-height:40px"  />
            </button>
         </div>

    </div>
      <!--  </div>-->
</div>