
<!-- 
    
    
    the trick was to create an input nested in a div, that would expand with the div and remain at 100% 
    with some kind of padding around it

    lesson: margins collapse
    lesson: box sizing property can be used, set it to border-box ( not the default ) which means
    size is calculated including padding and border ( not margin) 
    lesson: to make box sizing work, set margin to 0,  acheive margin using padding instead
 

    
    
    


<div style="background-color:red;width:100%;box-sizing:border-box;padding:16px;margin:0px">
    
    <input type="text" id="MyInput" style="box-sizing:border-box;width:100%; margin:0px;" />
</div>-->

<div id="maincontainer" ng-controller="SignInController as Ctrl">
    {{ Ctrl.suck }}

    <form id="SignInForm">


<div class="lightgreen centered goldtrim" style="padding:16px;margin-bottom:8px;border-radius:3.5px;">
    
        <input ng-model = "Ctrl.Member.Email" placeholder="email address" type="text" 
               style="font-family:inherit;box-sizing:border-box;width:100%; margin:0px;padding:6px" />
    
</div>


<div class="lightgreen centered goldtrim"  style="padding:16px;margin-bottom:8px;border-radius:3.5px">
   
        <input ng-model="Ctrl.Member.Password"  placeholder="password" type="password" 
               style="font-family:inherit;box-sizing:border-box;width:100%; margin:0px;padding:6px" />
</div>

    <div   style="text-align:center;padding:16px;">
        <div style="display:inline-block;background-color:lightgrey;opacity:0.6;padding:16px;border-radius:7px;" >
            <a style="color:goldenrod;" href="" ng-click="Ctrl.signIn()" >sign in</a>
        </div>
    </div>

    </form>



</div>
    <!--<div id="mainContainer">
    <div id="login" class="loginForm">
        <div class="login-top">
        </div>
        <form class="login-fields" onsubmit="alert('test'); return false;">
            <div id="login-email" class="login-field">
                <label for="email" style="-moz-user-select: none;-webkit-user-select: none;" onselectstart="return false;">E-mail address</label>
                <span><input name="email" id="email" type="text"></input></span>
            </div>
            <div class="spacer"></div>
            <div id="login-password" class="login-field">
                <label for="password" style="-moz-user-select: none;-webkit-user-select: none;" onselectstart="return false;">Password</label>
                <span><input name="password" id="password" type="password"></input></span>
            </div>
            <div class="login-bottom">
                <input type="checkbox" name="remember" id="login-remember"></input>
                <label for="login-remember" style="-moz-user-select: none;-webkit-user-select: none;" onselectstart="return false;">Remember my email</label>
                <input type="submit" name="login-button" id="login-button_normal" style="cursor: pointer" value="Log in"></input>
            </div>
        </form>
    </div>
</div>-->
