<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>-->
        <defaultDocument>
            <files>
                <add value="AngularMain.html" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>