<div ng-controller="MonitorController" ng-style="scrollWindowStyle"
    style="background-color:white;overflow-y:scroll">
   
  <div  style="padding:15px;">
            <h3> Diagnostics</h3>
        
            <form style="margin-top:30px;margin-bottom:60px;margin-right:15px;margin-left:15px;">
                <div class="form-group">
                    OS Name
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.osName}} readonly>
                </div>
                <div class="form-group">
                    OS Version
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.osVersion}} readonly>
                </div>
                <div class="form-group">
                    Browser Name
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.browserName}} readonly>
                </div>
                <div class="form-group">
                    Browser Version
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.browserVersion}} readonly>
                </div>
                <div class="form-group">
                    Engine Name
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.engineName}} readonly>
                </div>
                <div class="form-group">
                   Engine Version
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.engineVersion}} readonly>
                </div>
                <div class="form-group">
                    Device Model
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.deviceModel}} readonly>
                </div>
                <div class="form-group">
                    Device Type
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.deviceType}} readonly>
                </div>
                <div class="form-group">
                   Device Vendor
                    <input class="form-control" type="text" value={{Capabilities.currentDevice.deviceVendor}} readonly>
                </div>
                <div class="form-group">
                   Issue
                    <textarea rows="10" class="form-control"  ng-model="Capabilities.currentDevice.Issue" />
                </div>
                <button ng-click="submitIssue()">SUBMIT</button>
            </form>
        
  </div>         
</div>
