
<div id="mainContainer"   
    ng-controller="MapController" 
    style="position:relative" 
    ng-style="scrollWindowStyle">
 
    <div class="clickableDiv mapLabel"  >
        <div ng-cloak ng-show="stateMachine.state=='CAN_EDIT' " class="bluenav" style="padding:2px"
             ng-click="toggleEdit()">
            <img title="enable add pushpin"
                 src="../image/anchor.png"
                 class="dottedBorderRed glow "
                 ng-class="{'poppedUp' : selectedState.editSelected == true}"   />
        </div>
    </div>

    <div ng-cloak class="mapLabel" id="mapNameDiv" >
        {{MapRecord.MapName}}
    </div>

      


    <div style="position:absolute;z-index:1002;width:100%;" ng-show="selectedState.searchSelected==true">        
                                <div   class="panel panel-default"  >
                                    
                                    <div class="panel-heading"   style="background-color:#8EBBDA">
                                        <div class="panel-title   menuText" >
                                            Enter address
                                        </div>
                                    </div>

                                     <div class="deepGreen panel-body" >
                                            <input ng-model="Search.Address" class="sitelistText  form-control"  />
                                            <div class="sheerButtonContainer">
                                                <div class="sheerButton" 
                                                        ng-disabled="BusyWith.uploading">
                                                    <a href=""     ng-click="geocodeAddress()">Search</a>
                                                </div>
                                                
                                           </div>
                                     </div>

                                </div>
    </div>
                  



    <div id="bingMapRaw" ng-style="mapStyle"  style="position:relative">

    </div>



     

   

    <div ng-cloak   ng-controller="SignInController as SignInCtrl" id="authDiv" 

        class="skyBlue mapLabel" >
        <a ng-show="SignInCtrl.authenticationStatus.signedIn" href="" ng-click="SignInCtrl.signOut()">Sign Out</a>
        <a ng-hide="SignInCtrl.authenticationStatus.signedIn" href="" ng-click="SignInCtrl.goSignInPage()">Sign In</a>
        <a  ng-hide="SignInCtrl.authenticationStatus.signedIn" href="" ng-click="SignInCtrl.goCreateAccount()">Create Account</a>
    </div>


    

    <button class="bluenav glow"
                title="zoom to current location" ng-click="getLocation()"
                style="border:dotted 2px #a7427c;position:absolute;left:50%;margin-left:-30px;height:60px;width:60px;bottom:100px;border-radius:90px">
        <img src="../image/stars.png" style="z-index:999;height:40px;width:40px;"  />
    </button>   
    
    
    
    
    
     
    <confirm-cancel   
        id="dlgConfirmCancel"
        ng-cloak  ng-show="ConfirmCancel.isShowing"
        style="z-index:99;position:absolute;left:50%;margin-left:-100px;top:50%;margin-top:-140px;"
        question="ConfirmCancel.question"
        on-confirm="ConfirmCancel.ccConfirm()" 
        on-cancel="ConfirmCancel.ccCancel()">
    </confirm-cancel>
 

    </div>