

<div   ng-controller="MapListController">

    <div >
        <div ng-include="'map/MapListToolBar.html'"></div>
    </div>

    <div >
        <div   ng-style="scrollWindowStyle"
            style="margin:0px;padding:0px;">

            <div class="skyBlue infoText listColumn">
               
                    <div class="cloudBlue menuText listHeader">
                        Map List
                    </div>

                    <div id="mapList" style="position:relative;list-style:none;margin-left:auto;margin-right:auto;">
                       
                            <div ng-repeat="map in MapList" class="seeThrough">
                                <input ng-click="selectMap(map)"
                                        style="margin:3px;position:relative;left:4px;height:30px;width:30px;display:inline-block"type="checkbox"  ng-click="select($index)"/>
                                <a href="" ng-click="switchMap($index)">
                                     {{map.MapName}}
                                </a>
                            </div>
                     
                    </div>
               

            </div>

        </div>
    </div>

</div>