

<div id="smallToolbar" class="bluenav"   
   
     style="width:100%;padding:0px;" >
    <div style="width:100%;overflow-x:visible;">

        <div class="clickableDiv"  title="New Map" ng-click="showMapEditWindow('add')">
            <img src="../image/plus.png"
                 class="dottedBorderRed glow"
                 ng-class="{'poppedUp' : selectedState.addSelected == true}" />
        </div>



        <div class="clickableDiv"  title="Edit Map" ng-click="editMap()">
            <img ng-class="{'poppedUp' : selectedState.editSelected == true}"  
                   class="dottedBorderRed glow" src="/../image/pencil.png"    />

        </div>


                <div class="clickableDiv" ng-click="confirmDelete()" title="Delete Map">
                    <img
                         ng-class="{'poppedUp' : selectedState.deleteSelected == true}"  
                          src="../image/minus.png"  class="dottedBorderRed glow"  />
                </div>

                <div class="clickableDiv"  ng-click="facebook()"  title="Share Facebook">
               <!--      socialshare 
                     socialshare-provider="facebook" 
                     socialshare-url="http://www.traveloggia.pro/?MapID={{selectedMap.MapID}}"
                     social-share-text="check out my map/photo album/journal"
                     social-share-media="http://www.traveloggia.pro/image/ship.png"
                     social-share-caption=selectedMap.Name-->
                   
                    <img src="../image/fb.png"  
                         class="dottedBorderRed glow"
                         ng-class="{'poppedUp' : selectedState.facebookSelected == true}"  />
                </div>
        
         
        <div class="clickableDiv" ng-click="sendEmail()" title="Share Email">
            <img src="../image/email.png"
                 class="dottedBorderRed glow"
                 ng-class="{'poppedUp' : selectedState.emailSelected == true}" />
        </div>
               
                
        <div class="clickableDiv" ng-click="toggleLink()" title="Share Link">
            <img src="../image/internet.png"
                 class="dottedBorderRed glow"
                 ng-class="{'poppedUp' : selectedState.linkSelected == true}" />
        </div>
                    

       
    </div>
  

</div>    
     


