<div ng-controller="JournalController">
 
    <div>
        <label>Journal Title</label>
        <input type="text" ng-model="liveJournal.Title" />
    </div>
     <div>
        <label>Journal Date</label>
        <input type="text" ng-model="liveJournal.JournalDate" />
    </div>


  <text-angular    ta-toolbar={{toolbarOptions}}  name="htmlcontent" ng-model="liveJournal.Text" 
      style="margin-left:3px;margin-right:3px;min-height:400px;height:100%;background-color:white"></text-angular>
 
          <div style="display:inline-block;background-color:lightgray;opacity:0.6;padding:12px;border-radius:7px;" >
                  <a   href="" ng-click="saveJournal()" >Save</a>
            </div>
</div>