<div ng-controller="JournalController">
   <ul class="nav nav-tabs">
          <li ng-repeat ="journal in JournalEntries"                  
               role="presentation" class="active"><a href="" ng-click="loadContent($index)">{{journal.Title}}</a></li>

          <li role="presentation" class="active"><a href="" ng-click="addNew()">Add New</a></li>
        </ul>

    <button style="position:absolute;right:2px;top:2px;width:60px;height:60px">
            <img src="../../image/pencil.png" style="width:100%" />
    </button>

  <text-angular     name="htmlcontent" ng-model="thewords" ta-disabled="true" ta-toolbar="[]"
      style="margin-left:9px;margin-right:9px;height:100%;background-color:white"></text-angular >
     
        
</div>