<div style="background-color:#0E7B83" >

<div ng-include="'common/ToolBar.html'"></div>



    <div id="uploadControl" style="display:none;">
                <input type="file" accept="image/*" capture="camera" id="take-picture" />
                <p>
                    <img src="about:blank" alt="" id="show-picture">
                </p>
    </div>

<!--    <button style="width:150px;height:80px" ng-click="uploadFile()">upload a photo</button>-->
<div style="margin-top:15px;">
   

  <div style="margin-left:8px;"> 
        <div  ng-repeat="Photo in PhotoList">
           
            <img ng-src="http://www.traveloggia.net/upload/1/Lemnos/{{Photo.FileName}}" style="width:100%;max-width:300px;" >
            <div> {{Photo.FileName}}</div>
        </div>
   
</div> 

</div>
 
    </div>

