<script src="../lib/load-image.all.min.js"></script>
<div class="container-fluid greenMud" style="margin:0px;padding:0px;"  ng-controller="AlbumController" >
<div class="row" style="padding-left:16px;">
    <div ng-include="'common/ToolBar.html'"></div>

</div>


<div ng-show="authorizationState=='CAN_EDIT' " class="row" style="margin-bottom:0px;padding-bottom:0px">
    <div  class="col-xs-12" style="margin-bottom:0px;padding-bottom:0px">
        <div class="panel-group" id="accordion" style="margin-top:10px;margin-bottom:0px;padding-bottom:0px;">
            <div class="panel panel-default" style="background-color:#DEE5F2;font-family:Centaur;font-size:16px;margin-bottom:0px;padding-bottom:0px;">
                <div class="panel-heading" style="background-color:#8EBBDA;text-align:right;">
                    <h4 class="panel-title" >
                        <a data-toggle="collapse" style="font-family:Cinzel;position:relative;right:46px;" data-parent="#accordion" href="" data-target="#collapseOne">Add Photos</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" style="height:270px">
                        <input id="photoFileInput" type="file" accept="image/*" capture="camera" multiple=""
                               onchange="angular.element(this).scope().fileNameChanged(this)" style="width:90%" />
                        <div id="previewPanel" style="margin-top:10px;padding-top:10px;">
                            <p>preview image </p>
                        </div>
                        <div>
                            <button style="margin-top:10px;background-color:#244F55" class="btn btn-primary" ng-click="uploadFile()">Upload</button>
                        </div>
                    
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="row"  style="margin-top:0px;padding-top:0px;">
    <div class="col-xs-12" style="margin-top:0px;padding-top:0px;" id="photoListContainer"> 
   

                <div ng-repeat="Photo in PhotoList" style="margin-top:15px;margin-left:5px;margin-right:auto;padding-top:0px;">
                    <a href="" ng-click="selectPhoto(Photo)">
                        <div ng-if="Photo.StorageURL !=null " class="imageFrame">
                           
                                   <div ng-if="Photo.orientationID == null || Photo.orientationID < 5"  >
                                            <img ng-src="{{  imageServer + imagePath + Photo.FileName}}"
                                                 style="max-width:80%;height:auto">
                                   </div>

                                    <div ng-if="Photo.orientationID != null && Photo.orientationID > 4" >

                                                    <div ng-if="Capabilities.alreadyKnowsHow ==false">
                                                        <img on-load="onImageLoad($event, Photo.orientationID)"
                                                             style="position:absolute;visibility:hidden"
                                                             ng-style="portraitImageStyle"
                                                             ng-src="{{  imageServer + imagePath + Photo.FileName }}" />
                                                        <canvas id="canvas" style="display:block;"></canvas>

                                                    </div>

                                                    <div ng-if="Capabilities.alreadyKnowsHow == true">
                                                        <img 
                                                             style="max-width:90%;visibility:visible"
                                                             ng-src="{{  imageServer + imagePath + Photo.FileName }}" />
                                                    </div>

                                         
                                    </div>

                        </div>












                        <div ng-if="Photo.StorageURL==null " class="imageFrame">
                                <div ng-if="Photo.orientationID == null">
                                        <img ng-src="http://www.traveloggia.net/upload/{{imagePath }}{{Photo.FileName}}"
                                                 ng-style="landscapeImageStyle" />
                                </div>
                        </div>
                    </a>
                    <div> {{Photo.FileName}}</div>
                </div>

    </div>
</div>

</div>

