   <script src="../lib/load-image.all.min.js"></script>
<div  id="albumScroller"
    ng-style="scrollWindowStyle"  
    class=" greenMud" id="albumScrollContainer"
    style="padding:0px 16px 16px;overflow-y:auto;-webkit-overflow-scrolling: touch;"  ng-controller="AlbumController" >


<!-- uploader - to do move to its own page -->
<div ng-show="stateMachine.state=='CAN_EDIT' " style="margin-bottom:20px;padding-bottom:0px">
        <div class="panel-group" id="accordion" style="margin-top:10px;margin-bottom:4px;padding-bottom:0px;">
            <div class="panel panel-default" style="background-color:#DEE5F2;font-family:Centaur;font-size:16px;margin-bottom:0px;padding-bottom:0px;">
                <div class="panel-heading" style="background-color:#8EBBDA;text-align:right;">
                    <h4 class="panel-title" >
                        <a data-toggle="collapse" style="font-family:Cinzel;position:relative;right:46px;" data-parent="#accordion" href="" data-target="#collapseOne">Add Photos</a>
                    </h4>
                </div>

                <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body" style="height:270px">
                        <input id="photoFileInput" type="file" accept="image/*" capture="camera" multiple=""
                               onchange="angular.element(this).scope().fileNameChanged(this)" style="width:90%" />
                        <div id="previewPanel" style="margin-top:10px;padding-top:10px;">
                            <p>preview image </p>
                        </div>
                        <div>
                            <button 
                                    ng-disabled="BusyWith.uploading"
                                    style="margin-top:10px;background-color:#244F55" class="btn btn-primary"
                                     ng-click="handleUploadClick()">Upload
                            </button>
                        </div>
                    
                    </div>
                </div>

            </div>
        </div>
</div>


<!--CATALOG-->
    <div  style="margin:0px;padding:0px;position:relative;width:100%" id="photoListContainer"> 
        <div ng-repeat="Photo in PhotoList " style="margin-top:4px;padding-top:0px;">
            <a href="" ng-click="selectPhoto(Photo)" >
                   
                
                        <div  class="imageFrame monkey"   >                          
              <!--          <img id="catalog" style="width:60px;height:60px"
                                    ng-src="../image/hourglass.png" />  --> 


                               <img id="catalog" ng-style="getImageStyle(Photo,$index)"
                                    ng-src="{{getImageSource(Photo)}}" />
                                                                     
                    </div>
                                                                     
                    
            </a>
            
            <div> {{Photo.FileName}}</div>
        </div>

</div>

