<div class="container-fluid"  ng-controller="AlbumController">
  

    <div class="row">
        <div class="col-xs-12" style="margin-top:15px;">

    <div ng-if="selectedPhoto.StorageURL !=null ">

        <div ng-if="selectedPhoto.orientationID==null || selectedPhoto.orientationID < 5">
            <img ng-src="{{  imageServer + imagePath + selectedPhoto.FileName}}"
                ng-style="landscapeImageStyle">
        </div>

        <div ng-if="selectedPhoto.orientationID != null && selectedPhoto.orientationID >4 ">
            <div ng-if="Capabilities.alreadyKnowsHow==false">
                    <img on-load="onImageLoad($event, selectedPhoto.orientationID)"
                            style="position:absolute;visibility:hidden"
                            ng-style="portraitImageStyle"
                            src="{{  imageServer + imagePath + selectedPhoto.FileName +imageRefresher}}" />
                    <canvas id="canvas" style="display:block;"></canvas>

            </div>
            <div ng-if="Capabilities.alreadyKnowsHow==true">
                <img style="max-width:90%;visibility:visible"
                     ng-src="{{  imageServer + imagePath + selectedPhoto.FileName }}" />
            </div>

          
        </div>
    </div>



    <div ng-if="selectedPhoto.StorageURL==null ">

            <div ng-if="selectedPhoto.orientationID == null">
                    <img 
                         ng-src="http://www.traveloggia.net/upload/{{imagePath }}{{selectedPhoto.FileName}}"
                         ng-style="landscapeImageStyle" />
            </div>

    </div>











            <!--<div ng-if="selectedPhoto.StorageURL !=null " >
                    <img src="{{  imageServer + imagePath + selectedPhoto.FileName}}" style="width:auto;height:80vh;overflow:auto"    />
            </div>

            <div ng-if="selectedPhoto.StorageURL==null ">
                <img ng-src="http://www.traveloggia.net/upload/{{imagePath }}{{selectedPhoto.FileName}}" style="width:auto;height:80vh;overflow:auto" />
            </div>-->
        </div>
    </div>





    <div class="row" >
        <div class="col-xs-12">
            
                <div  ng-show="authorizationState == 'CAN_EDIT'"  style="padding:5px;">
                    <a href="" ng-click="deletePhoto()">
                        <img src="../image/minus.png" style="height:40px;width:40px;" />
                    </a>
                </div>
          
           
        </div>
    </div>
</div>
  

