<div class="container-fluid"  ng-controller="AlbumController">
    <div class="row">
        <div ng-include="'common/ToolBar.html'"></div>
    </div>
    <div class="row">
        <div class="col-xs-12" style="margin-top:15px;">
            <div ng-if="selectedPhoto.StorageURL !=null " >
                    <img src="{{  imageServer + imagePath + selectedPhoto.FileName}}" style="width:auto;height:80vh;overflow:auto"    />
            </div>

            <div ng-if="selectedPhoto.StorageURL==null ">
                <img ng-src="http://www.traveloggia.net/upload/{{imagePath }}{{selectedPhoto.FileName}}" style="width:auto;height:80vh;overflow:auto" />
            </div>
        </div>
    </div>

    <div class="row" >
        <div class="col-xs-12">
            <div class="panel panel-default" >
                <div class="panel-body" ng-show="authorizationState == 'CAN_EDIT'">
                    <a href="" ng-click="deletePhoto()">
                        <img src="../image/minus.png" style="height:40px;width:40px;" />
                    </a>
                </div>
            </div>
           
        </div>
    </div>
</div>
  

