<div   ng-style="scrollWindowStyle"  ng-controller="AlbumController" style="background-color:#4a4646;padding:16px;overflow-y:scroll">

   

    <div  ng-show="selectedPhoto != null">
     

    <div ng-if="selectedPhoto.StorageURL !=null " style="visibility:hidden">

        <div ng-if="selectedPhoto.orientationID ==null || selectedPhoto.orientationID < 5" >
            <img 
            
                    ng-src="{{  imageServer + imagePath + selectedPhoto.FileName+imageRefresher}}"
                    on-load="dontAsk($event)"/>
        </div>

        


        <div ng-if="selectedPhoto.orientationID != null && selectedPhoto.orientationID >4 " >

            <div ng-if="Capabilities.alreadyKnowsHow==false">
                    <img 
                            on-load="onImageLoad($event, selectedPhoto.orientationID)"
                            style="position:absolute;visibility:hidden"
                            src="{{  imageServer + imagePath + selectedPhoto.FileName +imageRefresher}}" />
                    <canvas id="canvas" style="display:block;"></canvas>
            </div>

            <div ng-if="Capabilities.alreadyKnowsHow==true" >
                <img 
                     on-load="dontAsk($event)"
                     ng-src="{{  imageServer + imagePath + selectedPhoto.FileName }}" />
            </div>

          
        </div>
    </div>



    <div ng-if="selectedPhoto.StorageURL==null " >
                    <img 
                         on-load="dontAsk($event)"
                         ng-src="http://www.traveloggia.net/upload/{{imagePath }}{{selectedPhoto.FileName +imageRefresher}}"  />          
    </div>


      
 


</div>

    <div style="margin-top:16px;margin-bottom:16px;">
      
            
         <div class="form-group">
                    <div class="infoText reverseText" >Date Taken:</div>
                    <input type="text" value="{{selectedPhoto.DateTaken| date: 'MM/dd/yyyy hh:mm:ss'}}" class="form-control" id="Date"/>
                </div>
         <div class="form-group">
                    <div class="infoText reverseText">Caption:</div>
                    <textarea rows="4"  ng-model="selectedPhoto.Caption" class="form-control" id="Caption"
                        style="word-wrap:normal"></textarea>
                </div>
         <div class="form-group">
                    <div class="infoText reverseText">File Name:</div>
                    <input type="text" ng-model="selectedPhoto.FileName" class="form-control" id="Caption">
                </div>
           <div ng-show="stateMachine.state=='CAN_EDIT' " style="display:inline-block;background-color:lightgray;opacity:0.6;padding:12px;border-radius:7px;">
                        <a href="" ng-click="updatePhoto()">Save</a>
                    </div>

          <div ng-show="stateMachine.state=='CAN_EDIT' " style="display:inline-block;background-color:lightgray;opacity:0.6;padding:12px;border-radius:7px;" >
                          <a   href="" ng-click="deletePhoto()" >Delete</a>
                    </div>

<!--    <div class="bluenav">
            <div  ng-show="stateMachine.state== 'CAN_EDIT'" class="clickableDiv" >
                    <a href="" ng-click="deletePhoto()">
                        <img src="../image/minus.png" style="height:40px;width:40px;" />
                    </a>
                </div>

    </div>
          -->

           
        
    </div>
</div>
  

